# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     3
1     1
2     1
3     4
4     1
     ..
95    3
96    2
97    2
98    2
99    4
Length: 100, dtype: int64 0     3
1     1
2     1
3     1
4     2
     ..
95    3
96    1
97    3
98    2
99    3
Length: 100, dtype: int64 0     23857
1     29157
2     29015
3     28337
4     28026
      ...
95    27933
96    20166
97    27624
98    15623
99    27246
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
housemkt=pd.concat([s1,s2,s3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [10]:
housemkt.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
print(housemkt.columns)
housemkt.head()

Index(['bedrs', 'bathrs', 'price_sqr_meter'], dtype='object')

   bedrs  bathrs  price_sqr_meter
0      3       3            23857
1      1       1            29157
2      1       1            29015
3      4       1            28337
4      1       2            28026

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [11]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       3
1       1
2       1
3       4
4       1
..    ...
95  27933
96  20166
97  27624
98  15623
99  27246

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [12]:
# no the index are kept but the length of the DataFrame is 300
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [13]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn
#The drop=True argument removes the old index from the DataFrame, 
# 
# and inplace=True modifies the DataFrame directly without returning a new DataFrame.

         0
0        3
1        1
2        1
3        4
4        1
..     ...
295  27933
296  20166
297  27624
298  15623
299  27246

[300 rows x 1 columns]